VITE_USAR_MOCK=true
VITE_MOCK_USER_EMAIL=
VITE_MOCK_USER_PASSWORD=
VITE_MOCK_USER_NAME=
VITE_MOCK_USER_LASTNAME=
VITE_MOCK_ADMIN_EMAIL=
VITE_MOCK_ADMIN_PASSWORD=
VITE_MOCK_ADMIN_NAME=
VITE_MOCK_MANAGER_EMAIL=
VITE_MOCK_MANAGER_PASSWORD=
VITE_MOCK_MANAGER_NAME=
VITE_MOCK_MANAGER_BRANCH_ID=

# Credenciales oficiales de API OAuth 2.0 (Google Identity Services y Facebook SDK)
VITE_GOOGLE_CLIENT_ID=15258745812-cg3pq0pmq7c78seov68c5c3n5vmoa6gr.apps.googleusercontent.com
VITE_FACEBOOK_APP_ID=100000000000000
