VITE_USAR_MOCK=true
VITE_MOCK_USER_EMAIL=
VITE_MOCK_USER_PASSWORD=
VITE_MOCK_USER_NAME=
VITE_MOCK_USER_LASTNAME=
VITE_MOCK_ADMIN_EMAIL=
VITE_MOCK_ADMIN_PASSWORD=
VITE_MOCK_ADMIN_NAME=
VITE_MOCK_MANAGER_EMAIL=
VITE_MOCK_MANAGER_PASSWORD=
VITE_MOCK_MANAGER_NAME=
VITE_MOCK_MANAGER_BRANCH_ID=
